.app{
    background-color: #f7f3eb;
    box-shadow: none;
    padding: 0 2rem; 
}


@media screen and(max-width: 768px) {
    .app{
        background-color: #c78b2c;
        box-shadow: none;
        padding: 0 0rem; 
    }
    
}


.appToolbar{
}