.app{
    background-color: #f7f3eb;
    box-shadow: none;
    padding: 0 2rem; 
}


@media (max-width: 768px) {
    .app{
        box-shadow: none;
        padding: 0 .8rem;
        position: fixed;
        background-color: #ebe7e0;
        height: 100px;
        z-index: 2;
    }
    .logo{
        width: 100px;
    }
    
}
