.app{
    background-color: #f7f3eb;
    box-shadow: none;
    padding: 0 2rem; 
}


@media (max-width: 768px) {
    .app{
        box-shadow: none;
        padding: 0 .8rem;
    }
    .logo{
        width: 100px;
    }
    
}
